# Environment Variables for Tazama Docker Setup
#
# Copy this file to .env and adjust values as needed
# docker-compose will automatically read .env file
SERVER_C_HOST=
WAREHOUSE_ROOT=/opt/Tazama_Warehouse
# TIKA PORT: 
TIKA_PORT=9998
SOLR_PORT=8983

OM_UI_PORT=9874
OM_RPC_PORT=9862
SCM_CLIENT_PORT=9860
RECON_PORT=9888
SCM_UI_PORT=9870
S3G_PORT=9878


# JupyterHub Configuration
JUPYTERHUB_PORT=8000

TAZAMA_WAREHOUSE_HOST_PATH=./warehouse

# Logging
LOG_LEVEL=INFO

# AWS CLI Configuration

AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET_NAME=tazama
S3A_ENDPOINT=http://${SERVER_C_HOST}:9878
S3A_ACCESS_KEY=
S3A_SECRET_KEY=

# Automation Orchestrator Configuration
NUM_WORKERS=1
SPARK_MASTER=local[*]
SPARK_LOCAL_DIR=/tmp/spark
APP_BASE_DIR=/app
OUT_DIR=/app/out

# Datalakehouse API Configuration
DATALAKEHOUSE_API_PORT=8282
SPARK_MASTER=local[*]
SPARK_LOCAL_DIR=/tmp/spark
PUBLIC_API_URL=http://${SERVER_C_HOST}:8282

# JupyterHub Configuration
JUPYTERHUB_ADMIN=admin
JUPYTERLAB_PORT=8888

# Nifi Configuration
PB_CONTEXT_NAME=Parameters
PB_NAME=pbucket
PB_BUCKET=
PB_SENSITIVE_FALSE=false
PB_HTTP_VALUE=http://${SERVER_C_HOST}:7619/checksubmit
PB_HTTP_NAME=phttp
PB_OZONE_ENDPOINT=http://${SERVER_C_HOST}:9878
PB_OZONE_NAME=pozone
PB_CONTEXT_NAME=Parameters


IMPORT_NIFI_TEMPLATE=true
NIFI_TEMPLATE_FILE=/nifi/tazama.xml
NIFI_TEMPLATE_TARGET_PG_ID=
NIFI_TEMPLATE_X=0.0
NIFI_TEMPLATE_Y=0.0
NIFI_PORT=8088
NIFI_WEB_HTTP_PORT=8088
NIFI_WEB_HTTP_HOST=0.0.0.0